#about-modal-container {
    height: auto;
    width: 120%;
}

#about-modal-contents {
    padding: 24px;
    display: block;
    margin: auto;
}

#about-header {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#logo-flex {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    width: auto;
    margin: auto;
}

.modal-okay-button {
    width: 25%;
    display: block;
    margin: auto;
}